!!!
%html
  %head
    %title Mara
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'
    %link(rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css")
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    %script(src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js")
    %script(src="https://use.fontawesome.com/d84584ad34.js")
  %body.brown.lighten-5
    .navbar-wrapper
      %nav.green.lighten-2
        .nav-wrapper
          .row
            .col.s6.m9
              %a.brand-logo.center(href = "/")
                %i.banner-raindrop.fa.fa-tint(aria-hidden = "true")
                Rain
            .col.s6.m3
              %span.right
                - if current_user
                  = link_to "Log Out", logout_path
                - elsif current_page?('/login')
                  = link_to "Sign Up", signup_path
                - elsif current_page?('/signup')
                  = link_to "Log In", login_path
                - else
                  = link_to "Sign Up", signup_path
                  or
                  = link_to "Log In", login_path
                - flash.each do |name, msg|
                  = content_tag :div, msg, id: "flash_#{name}"

    = yield
